:root {
    --font-sans: 'Noto Sans', sans-serif;
    --font-serif: 'Noto Serif', serif;
    --font-size: 1rem;
    --line-height: 1.6;
    --letter-spacing: 0.1rem;
    
    --headings-weight: 600;
    --headings-margin-bottom: 1rem;
    
    --button-padding: 12px 16px;
    --button-font-weight: 500;
    --button-transition: 0.1s ease-in-out;
    
    --page-width: 1000px;
    --body-padding: 6px;
    
    --header-height: 80px;
    --header-margin-top: 6px;
    --header-padding: 16px;
    --header-gap: 6px;
    
    --footer-margin: 6px;
    
    --box-shadow: rgba(0, 0, 0, 0.37) 0px 1px 4px 0px;
    --border-radius-small: 6px;
    --border-radius-medium: 12px;
    --border-radius-large: 20px;
    --border-radius-rounded: 50%/100%;
    
    /* Theming */
    --light-background: hsl(100 3% 100%);
    --dark-background: hsl(100 3% 12%);
    
    --light-header: hsl(100 6% 85%);
    --dark-header: hsl(100 6% 15%);
    
    --light-link-hover: hsl(100 10% 80%);
    --dark-link-hover: hsl(100 10% 20%);
    
    --light-link-active: hsl(100 10% 70%);
    --dark-link-active: hsl(100 10% 30%);
    
    --light-text: hsl(85 8% 16%);
    --dark-text: hsl(85 8% 84%);
    
    --text: var(--light-text);
    --background: var(--light-background);
    --header: var(--light-header);
    --link-hover: var(--light-link-hover);
    --link-active: var(--light-link-active);
}

@media (prefers-color-scheme: dark) {:root {
    --text: var(--dark-text);
    --background: var(--dark-background);
    --header: var(--dark-header);
    --link-hover: var(--dark-link-hover);
    --link-active: var(--dark-link-active);
}}

[data-theme="light"] {
    --text: var(--light-text);
    --background: var(--light-background);
    --header: var(--light-header);
    --link-hover: var(--light-link-hover);
    --link-active: var(--light-link-active);
}

[data-theme="dark"] {
    --text: var(--dark-text);
    --background: var(--dark-background);
    --header: var(--dark-header);
    --link-hover: var(--dark-link-hover);
    --link-active: var(--dark-link-active);
}

/* Global config */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    line-height: var(--line-height);
    color: var(--text);
    corner-shape: squircle;
    overflow: visible;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    background-color: var(--background);
    box-sizing: border-box;
    font-size: var(--font-size);
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: var(--headings-weight);
    margin-bottom: var(--headings-margin-bottom);
}

a {
    text-decoration: none;
    color: inherit;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

/* Component styling */

.button, .button-radio {
    padding: var(--button-padding);
    border-radius: var(--border-radius-rounded);
    font-weight: var(--button-font-weight);
    transition: var(--button-transition);
}

/*TODO: FIX*/
.button {
    background-color: #f00;
}

.button-radio:hover {
    background-color: var(--link-hover);
}

.button-radio.button-radio-active {
    background-color: var(--link-active);
}

/* Specific styling */


body {
    display: flow-root;
    max-width: var(--page-width);
    margin: auto;
    padding: var(--body-padding);
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--body-padding) * 2);
}

/* Header styling */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header);
    height: var(--header-height);
    margin-top: var(--header-margin-top);
    padding: var(--header-padding);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow);
}

#header-left, #header-right {
    display: flex;
    flex: 1;
}

#header-center {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: var(--header-gap);
}

#header-right {
    text-align: right;
    justify-content: flex-end;
}

/*TODO: FIX*/
#header-right button {
    width: 48px;
}

/* Main styling */

main {
    display: flex;
    flex: 1;
}

/* Footer styling */

footer {
    display: flex;
    justify-content: center;
    margin-bottom: var(--footer-margin);
}

