:root {
  --background: hsl(100 3% 12%);
  --header: hsl(100 6% 15%);
  --link-hover: hsl(100 10% 20%);
  --link-active: hsl(100 10% 30%);
  --dark-grey: #171a18;
  --test-green: #007700;
  --test-grey: #5a1a1a;
  --white-text: hsl(85 8% 84%); /* #cbcbcb */
  --banner-blur: 0.6vw;
  --banner-url: url('/video/sample.webp');
  --banner-height: 270px;
  --banner-aspect-query: 18/9; /* Update the related media query */
}

* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
  color: var(--white-text);
  corner-shape: squircle;
}

html {
	overflow-y: scroll;
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Serif', serif;
}

/* header should not be responsible for visual style */
/* should be responsible for positioning (max width) */
header {
  display: flex;
  background-color: var(--header);
  margin: 12px;
  min-height: 80px;
  height: 80px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.37) 0px 1px 4px 0px;
}

header * {
  font-family: 'Noto Sans';
  list-style-type: none;
}

#header-container {
  display: flex;
  flex: 1;
}

#header-container * {
  height: 100%;
}

#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
}

#header-nav > * {
  height: 100%;
  min-height: 100%;
}

#header-left, #header-right { 
  flex: 1 1 auto; 
  display: flex; 
}

#header-center {
  justify-content: center;
  flex: 1 0 auto;
}

#header-right { 
  justify-content: flex-end; 
}

#navigation {
  display: flex;
  flex-direction: row;
  gap: 6px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#navigation a {
  padding: 12px 16px;
  border-radius: 50% / 100%;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: 0.1s ease-in-out;
}


#navigation a:hover {
  background-color: var(--link-hover);
}

#navigation a.nav-active {
  background-color: var(--link-active);
}


#navigation > li {
  height: fit-content;
}



html, body {
	height: 100%;
	margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: #0000;
}

main {
  flex: 1;
  max-width: 800px;
  width: 800px;
  min-height: 800px;
  margin:auto;
}

footer {
  background: #3330;
  text-align: center;
  padding: 1rem;
}