:root {
  --dark-green: #001a0e;
  --dark-grey: #171a18;
  --test-green: #007700;
  --test-grey: #5a1a1a;
  --white-text: #ededed;
  --page-bg-color: #1a1f1c; /*linear-gradient(to right, #001a0e, #171a18);*/
  --banner-blur: 0.6vw;
  --banner-url: url('/video/sample.webp');
  --banner-height: 270px;
  --banner-aspect-query: 18/9; /* Update the related media query */
}

* {
	box-sizing: border-box;
	font-family: 'Noto Serif', 'Arial';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans';
}

html {
	overflow-y: scroll;
  background-color: #000;
  background: var(--page-bg-color);
}

html, body {
	height: 100%;
	margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: #0000;
  color: var(--white-text);
}

header {
  position: relative;
  width: 100%;
  min-height: var(--banner-height);
  overflow: hidden;
}

header::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--banner-url);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  mask-image: linear-gradient(to bottom, black 0%, 90%, transparent 100%);
  filter: blur(var(--banner-blur));
  z-index: 0;
}

header h1 {
  margin: 0;
  position: relative;
  width: fit-content;
  margin: auto;
  z-index: 1;
  display: block;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 6rem;
  color: var(--white-text);
  top: 50%;
  transform: translateY(-50%);
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
  header h1 {
    font-size: 3.5rem;
  }
}

/*
header h1::before {
  content: '';
  position: absolute;
  inset: -0.1em -0.2em;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  filter: blur(2px);
  z-index: -1;
}
  */

@media (min-aspect-ratio: 18/9) {
  header::before {
    background-size: calc(100vh*var(--banner-aspect-query));
  }
}

main {
  flex: 1;
  max-width: 800px;
  width: 800px;
  min-height: 800px;
  margin:auto;
}

span {
  color: #a0a0a0;
}

/* maybe thin grey borders instead */
.container {
  margin-top: 50px;
  background-color: #0000;
  padding:20px;
  border-radius: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff0;
  box-shadow: 0 0 8px 1px #fff0;
}

footer {
  background: #3330;
  color: var(--white-text);
  text-align: center;
  padding: 1rem;
}