:root {
    --font-sans: 'Noto Sans', sans-serif;
    --font-serif: 'Noto Serif', serif;
    --font-size: 1rem;
    --line-height: 1.6;
    --letter-spacing: 0.1rem;
    
    --headings-weight: 600;
    --headings-margin-bottom: 1rem;
    
    --link-underline-color: #fff;
    --link-underline-hover: #ff0;
    --link-underline-active: #0f0;
    --link-underline-thickness: 0.15em;
    --link-underline-offset: 0.22em;
    --link-transition: 0.2s;
    
    
    --button-padding: 12px 16px;
    --button-font-weight: 500;
    --button-transition: 0.1s ease-in-out;
    
    --page-width: 1000px;
    --body-padding: 6px;
    
    --header-height: 40px;
    --header-margin-top: 6px;
    --header-margin-bottom: 20px;
    --header-padding: 16px;
    --header-gap: 24px;
    
    --footer-margin: 6px;
    
    --box-shadow: rgba(0, 0, 0, 0.37) 0px 1px 4px 0px;
    --border-radius-small: 6px;
    --border-radius-medium: 12px;
    --border-radius-large: 16px;
    --border-radius-rounded: 50%/100%;
    
    /* Theming */
    --light-background: hsl(100 7% 100%);
    --dark-background: hsl(100 7% 12%);
    
    --dark-level-1: hsl(0 0% 100% / 8%);
    --dark-level-2: hsl(0 0% 100% / 15%);
    --dark-level-3: hsl(0 0% 100% / 20%);
    
    --light-level-1: hsl(0 0% 0% / 8%);
    --light-level-2: hsl(0 0% 0% / 15%);
    --light-level-3: hsl(0 0% 0% / 20%);
    
    --light-header: hsl(100 6% 85%);
    --dark-header: hsl(100 6% 15%);
    
    --light-link-hover: hsl(100 10% 80%);
    --dark-link-hover: hsl(100 10% 20%);
    
    --light-link-active: hsl(100 10% 70%);
    --dark-link-active: hsl(100 10% 30%);
    
    --light-text: hsl(85 8% 16%);
    --dark-text: hsl(85 8% 84%);
    
    --text: var(--light-text);
    --background: var(--light-background);
    
    --level-1: color-mix(in srgb, var(--background), var(--light-level-1));
    --level-2: color-mix(in srgb, var(--background), var(--light-level-2));
    --level-3: color-mix(in srgb, var(--background), var(--light-level-3));
    --level-4: color-mix(in srgb, var(--background), var(--light-level-4));
    
    --header: var(--light-header);
    --link-hover: var(--light-link-hover);
    --link-active: var(--light-link-active);
}

@media (prefers-color-scheme: dark) {:root {
    --text: var(--dark-text);
    --background: var(--dark-background);
    
    --level-1: color-mix(in srgb, var(--background), var(--dark-level-1));
    --level-2: color-mix(in srgb, var(--background), var(--dark-level-2));
    --level-3: color-mix(in srgb, var(--background), var(--dark-level-3));
    --level-4: color-mix(in srgb, var(--background), var(--dark-level-4));
    
    --header: var(--dark-header);
    --link-hover: var(--dark-link-hover);
    --link-active: var(--dark-link-active);
}}

[data-theme="light"] {
    --text: var(--light-text);
    --background: var(--light-background);
    
    --level-1: color-mix(in srgb, var(--background), var(--light-level-1));
    --level-2: color-mix(in srgb, var(--background), var(--light-level-2));
    --level-3: color-mix(in srgb, var(--background), var(--light-level-3));
    --level-4: color-mix(in srgb, var(--background), var(--light-level-4));
    
    --header: var(--light-header);
    --link-hover: var(--light-link-hover);
    --link-active: var(--light-link-active);
}

[data-theme="dark"] {
    --text: var(--dark-text);
    --background: var(--dark-background);
    
    --level-1: color-mix(in srgb, var(--background), var(--dark-level-1));
    --level-2: color-mix(in srgb, var(--background), var(--dark-level-2));
    --level-3: color-mix(in srgb, var(--background), var(--dark-level-3));
    --level-4: color-mix(in srgb, var(--background), var(--dark-level-4));
    
    --header: var(--dark-header);
    --link-hover: var(--dark-link-hover);
    --link-active: var(--dark-link-active);
}

/* Global config */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    line-height: var(--line-height);
    color: var(--text);
    corner-shape: squircle;
    overflow: visible;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    background-color: var(--background);
    box-sizing: border-box;
    font-size: var(--font-size);
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: var(--headings-weight);
    margin-bottom: var(--headings-margin-bottom);
}

/*
a {
    text-decoration: underline;
    text-decoration-color: #fff;/* var(--link-underline-color);
    text-decoration-style: solid;
    text-underline-offset: var(--link-underline-offset);
    text-decoration-skip-ink: none;
    text-decoration-thickness: var(--link-underline-thickness);
    color: inherit;
    transition: text-decoration-color 2s ease;
}

a:hover {
    text-decoration-color: #ff0;/* var(--link-underline-hover);
}
*/

a {
    text-decoration: underline;
    text-decoration-color: hsl(130 5% 70%);
    text-decoration-thickness: var(--link-underline-thickness);
    text-underline-offset: var(--link-underline-offset);
    transition: var(--link-transition);
    transition-property: text-decoration-color;
    font-family: var(--font-sans);
    font-weight: 600;
    
}

a:hover { text-decoration-color: hsl(130, 100%, 70%); ; }


img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

/* Component styling */


@supports (corner-shape: squircle) {
    .button {
        border-radius: var(--border-radius-rounded);
    }
}

/*TODO: FIX*/
.button {
    background-color: #333;
}

.button-radio:hover {
    background-color: var(--link-hover);
}

.button-radio.button-radio-active {
    background-color: var(--link-active);
}

/* Specific styling */


body {
    display: flow-root;
    max-width: var(--page-width);
    margin: auto;
    padding: var(--body-padding);
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--body-padding) * 2);
}

/* Header styling */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    margin-top: var(--header-margin-top);
    margin-bottom: var(--header-margin-bottom);
}

header > nav {
    height: 100%;
}

#header-left, #header-right {
    display: flex;
    flex: 1;
}

#header-center {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
}

#header-right {
    text-align: right;
    justify-content: flex-end;
}

/* very sloppy design here */
floating-dock {
    box-sizing: content-box;
    height: 100%;
    border-radius: var(--border-radius-large);
    background-color: var(--level-1);
    box-shadow: var(--box-shadow);
    align-content: center;
    padding: 3px;
}

#nav-slider {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: var(--header-gap);
    background-color: var(--level-2);
    border-radius: calc(var(--border-radius-large) - 3px);
    padding: 0px 10px;
}

.link-radio {
    text-decoration: none;
    
}



/*TODO: FIX*/
#header-right button {
    width: 48px;
}

/* Main styling */

main {
    display: flex;
    flex: 1;
}

/* Footer styling */

footer {
    display: flex;
    justify-content: center;
    margin-bottom: var(--footer-margin);
}

